<div class="widgets">
    <ba-card cardTitle="Add/Edit/Delete Tags" baCardClass="with-scroll" class="smart-table-container">
      <table class="table table-bordered" *ngIf="inwardObj!=null">
        <thead class="thead-inverse">
          <tr >
            <th>Inward #</th>
            <th>SPC #</th>
            <th>Customer Name</th>
            <th>Design Name</th>
            <th>Lay</th>
            <th>Part</th>
            <th>Color</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{inwardObj.inwardNumber}}</td>
            <td>{{inwardObj.order.spc}}</td>
            <td>{{inwardObj.order.customer.name}}</td>
            <td>{{inwardObj.order.designName}}</td>
            <td>{{inwardObj.layStr}}</td>
            <td>{{inwardObj.order.part}}</td>
            <td>{{inwardObj.order.fabricColor}}</td>
          </tr>
        </tbody>
      </table>
      
      <br>
      <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onSaveConfirm($event)"
        (createConfirm)="onCreateConfirm($event)"></ng2-smart-table>

        <br>
        <br>
        <button (click)="back()" class="btn btn-primary btn-xm float-left">Back</button>

    </ba-card>
  
</div>

<ng2-slim-loading-bar [height]="'6px'" [color]="'white'"></ng2-slim-loading-bar>