<div class="widgets">
  <div class="row">
    <ba-card cardTitle="In production Detail" baCardClass="with-scroll" class="smart-table-container" *ngIf="inProdData">

      <div class="row">
        <div class="col">
          <a href="javascript:void(0)" (click)="download()" class="float-right">
            <i class="fa fa-file-excel-o fa-2x">
            </i>Excel Download</a>
        </div>
      </div>
      <div class="row" *ngFor="let machine of inProdData.machines; let i=index">
        <div class="col">
          <div class="card card-info" *ngIf="inProdData.machines.length>0">
            <div class="card-header card-inverse text-white">
              <strong class="text-white">Machine # : {{machine.id}},</strong>
              <strong class="text-white">Heads: {{machine.heads}},</strong>
              <strong class="">Capacity: {{machine.stitchCapacity}}</strong>
            </div>
            <div class="card-block">
              <div class="row" *ngIf="machine.noOfOrders>0">
                <div class="col" *ngFor="let prodOrder of machine.orders;let j=index">
                  <div class="card card-primary">
                    <div class="card-header text-white">
                      SPC : {{prodOrder.inward.order.spc}} , Customer Name : {{prodOrder.inward.order.customer.name}} , Grade : {{prodOrder.inward.order.grade}}
                      , Quantity : {{prodOrder.inward.order.quantity}}
                    </div>
                    <div class="card-block">
                      <ng2-smart-table [settings]="settings" [source]="source[i][j]" (editConfirm)="onSaveConfirm($event)"></ng2-smart-table>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </ba-card>

  </div>

</div>

<ng2-slim-loading-bar [height]="'6px'" [color]="'white'"></ng2-slim-loading-bar>