<div class="widgets">
  <div class="row">
    <ba-card cardTitle="In production Detail" baCardClass="with-scroll" class="smart-table-container" *ngIf="checkingData">

      <div class="row">
        <div class="col">
          <a href="javascript:void(0)" (click)="download()" class="float-right">
            <i class="fa fa-file-excel-o fa-2x">
            </i>Excel Download</a>
        </div>
      </div>

      <div class="row" *ngFor="let employee of checkingData.employees; let i=index">
        <div class="col">
          <div class="card card-info">
            <div class="card-header card-inverse text-white">
              <strong class="text-white">Checker : {{employee.checker.name}},</strong>
              <strong class="text-white">Helper: {{employee.helper.name}},</strong>
              <strong class="text-white">Assigned Quantity: {{employee.assignedQuantity}},</strong>
            </div>
            <div class="card-block">
              <ng2-smart-table [settings]="settings" [source]="source[i]" (editConfirm)="onSaveConfirm($event)"></ng2-smart-table>
            </div>
          </div>
        </div>
      </div>
    </ba-card>
  </div>
</div>