<div class="widgets">
  <div class="row">
    <ba-card cardTitle="Add Orders" baCardClass="with-scroll" class="smart-table-container">
      <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <!-- <div class="card-header">
                      Upload Picture
                  </div> -->
              <div class="card-block">
                <div class="picture-group" [ngClass]="{uploading: uploadInProgress}">
                  <div class="picture-wrapper" (click)="bringFileSelector();">
                    <img [src]="picture" *ngIf="picture">
                    <img [src]="defaultPicture" *ngIf="!!!picture && !!defaultPicture">
                    <div class="loading" *ngIf="uploadInProgress">
                      <div class="spinner">
                        <div class="double-bounce1"></div>
                        <div class="double-bounce2"></div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <i class="ion-ios-close-outline" (click)="removePicture();" *ngIf="picture && canDelete"></i>
                  <a href class="change-picture" (click)="bringFileSelector();">Upload Picture</a>
                  <input #fileUpload ngFileSelect [options]="uploaderOptions" (onUpload)="_onUpload($event)" (beforeUpload)="beforeUpload($event)"
                    type="file" hidden="true">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputFirstName">Customer Name</label>
                  <select class="form-control ng-untouched ng-pristine ng-valid" formControlName="customer">
                          <option *ngFor="let customer of customerList" [ngValue]="customer">{{customer.name}}</option>
                        </select>
                  <small *ngIf="!myForm.controls.customer.valid && myForm.controls.customer.touched">
                            Please select a customer
                        </small>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputGrade">Grade</label>
                  <input type="text" class="form-control" formControlName="grade" id="inputGrade" placeholder="Grade">
                  <small *ngIf="!myForm.controls.grade.valid && myForm.controls.grade.touched">
                            Please enter atleast 2 characters
                        </small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputDesignName">Design Name</label>
                  <input type="text" class="form-control" formControlName="designName" id="inputDesignName" placeholder="Design Name">
                  <small *ngIf="!myForm.controls.designName.valid && myForm.controls.designName.touched">
                            Please enter atleast 2 characters
                        </small>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputEmbroiderType">Embroidery Type</label>
                  <input type="text" class="form-control" formControlName="embroideryType" id="inputEmbroiderType" placeholder="Embroidery Type">
                  <small *ngIf="!myForm.controls.embroideryType.valid && myForm.controls.embroideryType.touched">
                            Please enter atleast 2 characters
                        </small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputStitches">Stitches</label>
                  <input type="number" min="0" class="form-control" formControlName="stitches" id="inputStitches" placeholder="Stitches">
                  <small *ngIf="!myForm.controls.stitches.valid && myForm.controls.stitches.touched">
                                Please enter atleast 1 digit
                  </small>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputQuantity">Quantity</label>
                  <input type="number" min="0" class="form-control" formControlName="quantity" id="inputQuantity" placeholder="Quantity">
                  <small *ngIf="!myForm.controls.quantity.valid && myForm.controls.quantity.touched">
                              Please enter atleast 1 digit
                          </small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputFabricColor">Fabric Color</label>
                  <input type="text" class="form-control" formControlName="fabricColor" id="inputFabricColor" placeholder="Fabric Color">
                  <small *ngIf="!myForm.controls.fabricColor.valid && myForm.controls.fabricColor.touched">
                                Please enter atleast 2 character
                            </small>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputFabricSize">Fabric Size</label>
                  <input type="text" class="form-control" formControlName="fabricSize" id="inputFabricSize" placeholder="Fabric Size">
                  <small *ngIf="!myForm.controls.fabricSize.valid && myForm.controls.fabricSize.touched">
                                Please enter atleast 2 character
                            </small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputPart">Part</label>
                  <input type="text" class="form-control" formControlName="part" id="inputPart" placeholder="Part of the cloth">
                  <small *ngIf="!myForm.controls.part.valid && myForm.controls.part.touched">
                                  Please enter atleast 2 character
                              </small>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputPosition">Position</label>
                  <input type="text" class="form-control" formControlName="position" id="inputPosition" placeholder="Embedding Position">
                  <small *ngIf="!myForm.controls.position.valid && myForm.controls.position.touched">
                                  Please enter atleast 2 character
                              </small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputMesurement">Measurement</label>
                  <input type="text" class="form-control" formControlName="measurement" id="inputMeasurement" placeholder="Measurment">
                  <small *ngIf="!myForm.controls.measurement.valid && myForm.controls.measurement.touched">
                                      Please enter atleast 2 character
                            </small>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputDuration">Duration</label>
                  <div class="row">
                    <input type="number" step="1" class=" col ml-3 form-control" placeholder="hh" formControlName="durationHR">
                    <div class="mt-2">:</div>
                    <input type="number" step="1" class="col form-control" placeholder="mm" formControlName="durationMN">
                    <div class="mt-2">:</div>
                    <input type="number" step="1" class="col form-control" placeholder="ss" formControlName="durationSS">
                    <div class="col"></div>
                  </div>
                  <small *ngIf="(!myForm.controls.durationHR.valid || !myForm.controls.durationMN.valid 
                              || !myForm.controls.durationSS.valid) && (myForm.controls.durationHR.touched 
                              || myForm.controls.durationMN.touched || myForm.controls.durationSS.touched)">
                                Please enter atleast duration correctly
                            </small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label for="inputNoOfCombos">No Of Combos 
                      <strong>(Use "Tab" key or "click outside" to show combos)</strong>
                    </label>
              <input type="number" min="0" formControlName="noOfCombos" class="form-control" (change)="comboChange()" id="inputNoOfCombos"
                placeholder="No of Combos">
            </div>
          </div>
        </div>

        <div class="row container-fluid">
          <!-- List of combos -->
          <div formArrayName="combos">
            <!-- ngFor -->
            <div *ngFor="let combo of myForm.controls.combos['controls']; let i=index">

              <div class="card">
                <div class="card-header text-center">
                  Combo {{i+1}}
                  <span *ngIf="myForm.controls.combos.controls.length>1" (click)="removeCombo(i)"></span>
                </div>
                <!-- Angular assigns array index as group name by default 0, 1, 2, ... -->
                <div class="card-block" [formGroupName]="i">
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label>Cones</label>
                        <input type="text" class="form-control" formControlName="cones">
                        <!--display error message if cones is not valid-->
                        <small *ngIf="!myForm.controls.combos.controls[i].controls.cones.valid && 
                                          myForm.controls.combos.controls[i].controls.cones.touched">
                                <strong>Cones</strong> field is required
                            </small>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label>Boxes</label>
                        <input type="text" class="form-control" formControlName="boxes">
                        <!--display error message if boxes is not valid-->
                        <small *ngIf="!myForm.controls.combos.controls[i].controls.boxes.valid &&
                              myForm.controls.combos.controls[i].controls.boxes.touched">
                                <strong>Boxes</strong> is required
                            </small>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label>Frame Size</label>
                        <input type="text" class="form-control" formControlName="frameSize">
                        <!--display error message if frame size is not valid-->
                        <small *ngIf="!myForm.controls.combos.controls[i].controls.frameSize.valid &&
                            myForm.controls.combos.controls[i].controls.frameSize.touched">
                                <strong>Frame Size</strong> is required
                            </small>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label>Layers</label>
                        <input type="text" class="form-control" formControlName="layers">
                        <!--display error message if frame size is not valid-->
                        <small *ngIf="!myForm.controls.combos.controls[i].controls.layers.valid && 
                            myForm.controls.combos.controls[i].controls.layers.touched">
                                <strong>Layers</strong> is required
                            </small>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label for="inputThread">Thread</label>
                        <select class="form-control ng-untouched ng-pristine ng-valid" formControlName="thread">
                                <option *ngFor="let thread of threadList" [ngValue]="thread">
                                  {{thread.brandName}}, {{thread.color}},{{thread.type}}</option>
                              </select>
                        <small *ngIf="!myForm.controls.combos.controls[i].controls.thread.valid && 
                              myForm.controls.combos.controls[i].controls.thread.touched">
                                  <strong>Thread</strong> is required
                              </small>
                      </div>
                    </div>

                    <div class="col">
                      <div class="form-group">
                        <label for="inputPaper">Paper</label>
                        <select class="form-control ng-untouched ng-pristine ng-valid" formControlName="paper">
                                <option *ngFor="let paper of paperList" [ngValue]="paper">
                                  {{paper.type}},{{paper.quality}},{{paper.size}}</option>
                              </select>
                        <small *ngIf="!myForm.controls.combos.controls[i].controls.paper.valid && 
                              myForm.controls.combos.controls[i].controls.paper.touched">
                                  <strong>Paper</strong> is required
                              </small>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label for="inputApplique">Applique</label>
                        <select class="form-control ng-untouched ng-pristine ng-valid" formControlName="applique">
                                <option *ngFor="let applique of appliqueList" [ngValue]="applique">
                                  {{applique.number}},{{applique.type}},{{applique.color}}</option>
                              </select>
                        <small *ngIf="!myForm.controls.combos.controls[i].controls.applique.valid && 
                              myForm.controls.combos.controls[i].controls.applique.touched">
                                  <strong>Applique</strong> is required
                              </small>
                      </div>
                    </div>

                  </div>
                </div>
                <!--End of  Angular assigns array index as group name by default 0, 1, 2, ... -->
              </div>
            </div>
            <!-- End of ngFor -->
          </div>
          <!-- End of List of combos -->
        </div>
        <button type="submit" class="btn btn-primary pull-right btn-xm" [disabled]="!myForm.valid">Submit</button>
        <button type="button" class="btn btn-primary pull-left btn-xm" (click)="back()">Back</button>
      </form>
    </ba-card>
  </div>
</div>

<ng2-slim-loading-bar [height]="'6px'" [color]="'white'"></ng2-slim-loading-bar>