<div *ngIf="isValidToken">
<div class="auth-main">
  <div class="auth-block">
    <h1>Change Your Password</h1>

    <form [formGroup]="form" class="form-horizontal" (ngSubmit)="onSubmit(form.value)" >

    <div class="form-group row" [ngClass]="{'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">
        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>

        <div class="col-sm-10">
          <input [formControl]="password" type="password" class="form-control" id="inputPassword3" placeholder="Password">
           <span *ngIf="!password.valid && (password.touched)" class="help-block sub-little-text">Please enter atleast 4 characters.</span>
        </div>
      </div>
      <div class="form-group row" [ngClass]="{'has-error': (!repeatPassword.valid && repeatPassword.touched), 'has-success': (repeatPassword.valid && repeatPassword.touched)}">
        <label for="inputPassword4" class="col-sm-2 control-label">Repeat</label>

        <div class="col-sm-10">
          <input [formControl]="repeatPassword" type="password" class="form-control" id="inputPassword4" placeholder="Repeat">
          <span *ngIf="!passwords.valid && (password.touched || repeatPassword.touched)" class="help-block sub-little-text">Passwords don't match.</span>
        </div>
      </div>

    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit" [disabled]="!form.valid" class="btn btn-info">Change Password</button>
      </div>
    </div>
  </form>
  </div>
</div>
</div>
<div *ngIf="!isValidToken">
  Please reset your password again by clicking the following link
</div>

<ng2-slim-loading-bar [height] ="'4px'" ></ng2-slim-loading-bar>
