<div class="auth-main">
  <div class="auth-block">
    <h1>Sign up to ng2-admin</h1>
    <a routerLink="/login" class="auth-link">Back to login form</a>

    <form [formGroup]="form" class="form-horizontal" (ngSubmit)="onSubmit(form.value)" >

    <div class="form-group row" [ngClass]="{'has-error': (!email.valid && email.touched), 'has-success': (email.valid && email.touched)}">
          <label for="inputEmail3" class="col-sm-2 control-label">Email</label>

          <div class="col-sm-10">
            <input [formControl]="email" type="email" class="form-control" id="inputEmail3" placeholder="Email">
            <span *ngIf="!email.valid && (email.touched)" class="help-block sub-little-text">Please enter valid email id. (For example someone@gmail.com)</span>
          </div>
    </div>


    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit" [disabled]="!form.valid" class="btn btn-warning">Reset Password</button>
      </div>
    </div>
  </form>
  </div>
</div>

<ng2-slim-loading-bar [height] ="'4px'" ></ng2-slim-loading-bar>
