<select class="form-control ng-untouched ng-pristine ng-valid" [(ngModel)]="selectedValue"  #selectedViewChild
(change)="updateValue($event)"
(keydown.esc)="onStopEditing.emit()" > 
<option *ngFor="let option of dropDownList" [value] = "option.value"> {{option.title}}</option>
</select>
