<select [(ngModel)] = "selectedDepartmentName" (change)= "onDepartmentSelect()" class="form-control">
  <option *ngFor="let constant of constantsList" [ngValue]="constant.key">{{constant.key}}</option>
</select>