<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">{{modalHeader}}</h4>
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" [innerHTML] = "modalContent">
    
  </div>

  <div *ngIf="isCloseModal; then closeBlock else confirmBlock"></div>
  <ng-template #confirmBlock>
      <div class="modal-footer">
          <button class="btn btn-primary confirm-btn pull-left" (click)="confirmYes()">Yes</button>  
        <button class="btn btn-primary confirm-btn" (click)="confirmNo()">No</button>
      </div>
  </ng-template>
  <ng-template #closeBlock>
      <div class="modal-footer">
          <button class="btn btn-primary confirm-btn" (click)="closeModal()">Close</button>
      </div>
  </ng-template>
  
</div>
