<select class="form-control" [(ngModel)]="selectedOrder" (ngModelChange) ="orderChanged()" *ngIf="!isOrderListEmpty">
  <option *ngFor="let order of orderList" [ngValue]="order">
      <table class="table table-bordered">
          <tbody>
            <tr>
              <td>{{order.customer.name}},</td>
              <td>{{order.spc}},</td>
              <td>{{order.designName}},</td>
              <td>{{order.part}}</td>
              <td>{{order.status}}</td>
            </tr>
          </tbody>
        </table>
  </option>
</select>

<div *ngIf="isOrderListEmpty" class="text-center">
  <strong>No Approved Orders</strong>
</div>


<!-- 
<input class="form-control" auto-complete [(ngModel)] = "selectedOrderId"
(valueChanged)="valueChanged($event)" 
[source]="orderList"  [list-formatter]="autocompleListFormatter" /> -->

<!-- 
<ng-select [allowClear]="true"
[items]="items"
[disabled]="disabled"
(data)="refreshValue($event)"
(selected)="selected($event)"
(removed)="removed($event)"
(typed)="typed($event)"
placeholder="No city selected">
</ng-select> -->