<table class="table table-bordered">
  <thead>
    <tr>
      <th>Customer</th>
      <!-- <th>SPC #</th> -->
      <th>Design</th>
      <th>Part</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{rowData.order.customer.name}}</td>
      <!-- <td>{{rowData.order.spc}}</td> -->
      <td>{{rowData.order.designName}}</td>
      <td>{{rowData.order.part}}</td>
    </tr>
  </tbody>
</table>