<div class="widgets">
    
      <div class="row">
        <ba-card cardTitle="Orders" baCardClass="with-scroll" class="smart-table-container">
          <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>
         
          <div class=" pull-right mt-2 mb-4">
              <button type="button" class="btn btn-primary btn-xm pull-right" routerLink = "/pages/orders/add" >Add Order</button>
          </div>
        </ba-card>
        
      </div>
      
    </div>
  
  <ng2-slim-loading-bar [height] ="'6px'" [color]="'white'"></ng2-slim-loading-bar>