<div class="widgets">
    <div class="row">
      <ba-card cardTitle="In production plans" baCardClass="with-scroll" class="smart-table-container">
  
        <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </ba-card>
  
    </div>
  
  </div>
  
  <ng2-slim-loading-bar [height]="'6px'" [color]="'white'"></ng2-slim-loading-bar>