<div class="widgets">
  
    <div class="row">
      <ba-card cardTitle="Add/Edit/Delete Paper" baCardClass="with-scroll" class="smart-table-container">
        <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"
        (editConfirm)="onSaveConfirm($event)"
        (createConfirm)="onCreateConfirm($event)"></ng2-smart-table>
      </ba-card>
    </div>
  
  </div>

<ng2-slim-loading-bar [height] ="'6px'" [color]="'white'"></ng2-slim-loading-bar>