<div class="text-center">
  <a routerLink="/pages/productions/in-production/{{rowData.id}}" class="ng2-smart-details" > 
    <i class="fa fa-eye fa-2x"></i></a>
  <!-- <a routerLink="/pages/orders/{{rowData.id}}" class="ng2-smart-action ng2-smart-action-delete-delete"> <i class="ion-trash-a"></i></a> -->
  </div>