<div class="widgets">

    <div class="row" *ngIf="order!=null">
        <ba-card cardTitle="Order Details" baCardClass="with-scroll" class="smart-table-container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td><strong class="float-right">SPC Number</strong></td>
                                <td>{{order.spc}}</td>
                            </tr>
                            <tr>
                                <td><strong class="float-right">Customer Name</strong></td>
                                <td>{{order.customer.name}}</td>
                            </tr>

                            <tr>
                                <td><strong class="float-right">Sample Number</strong></td>
                                <td>{{order.sam}}</td>
                            </tr>
                            <tr>
                                <td><strong class="float-right">Quantity</strong></td>
                                <td>{{order.quantity}}</td>
                            </tr>
                            <tr>
                                <td><strong class="float-right">Design Name</strong></td>
                                <td>{{order.designName}}</td>
                            </tr>
                            <tr>
                                <td><strong class="float-right">Duration</strong></td>
                                <td>{{order.duration|durationFilter}}</td>
                            </tr>
                            <tr>
                                <td><strong class="float-right">Embroidery Type</strong></td>
                                <td>{{order.embroideryType}}</td>
                            </tr>
                            <tr>
                                <td><strong class="float-right">Fabric Color</strong></td>
                                <td>{{order.fabricColor}}</td>
                            </tr>
                            <tr>
                                <td><strong class="float-right">Fabric Size</strong></td>
                                <td> {{order.fabric_size}}</td>
                            </tr>
                            <tr>
                                <td><strong class="float-right">Grade</strong></td>
                                <td>{{order.grade}}</td>
                            </tr>
                            <tr>
                                <td><strong class="float-right">Stitches</strong></td>
                                <td>{{order.stitches}}</td>
                            </tr>
                            <tr>
                                <td><strong class="float-right">Postion</strong></td>
                                <td>{{order.position}}</td>
                            </tr>
                            <tr>
                                <td><strong class="float-right">Part</strong></td>
                                <td>{{order.part}}</td>
                            </tr>
                            <tr>
                                <td><strong class="float-right">Measurement</strong></td>
                                <td>{{order.measurement}}</td>
                            </tr>
                            <tr>
                                <td><strong class="float-right">No of Combos</strong></td>
                                <td>{{order.noOfCombos}}</td>
                            </tr>
                            <tr>
                                <td><strong class="float-right">Updated At</strong></td>
                                <td>{{order.formatted_updated_at}}</td>
                            </tr>
                            <tr>
                                <td><strong class="float-right">Updated By</strong></td>
                                <td>{{order.updated_by}}</td>
                            </tr>
                            <tr>
                                <td><strong class="float-right">Created At</strong></td>
                                <td>{{order.formatted_created_at}}</td>
                            </tr>
                            <tr>
                                <td><strong class="float-right">Created By</strong></td>
                                <td>{{order.created_by}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-8 col-md-8">
                    <div class="picture-group">
                        <div class="picture-wrapper">
                            <img src="data:image/jpeg;base64,{{order.imageBytes}}" class="rounded mx-auto d-block" height="565px" width="100%" />
                        </div>
                    </div>
                </div>
            </div>
        </ba-card>

        <ba-card cardTitle="Order Combos" baCardClass="with-scroll" class="smart-table-container" *ngIf="order.noOfCombos>0">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Cones</th>
                        <th>Boxes</th>
                        <th>Frame Size</th>
                        <th>Layers</th>
                        <th>Thread Details</th>
                        <th>Applique Details</th>
                        <th>Paper Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let combo of order.combos">
                        <td>{{combo.cones}}</td>
                        <td>{{combo.boxes}}</td>
                        <td>{{combo.frameSize}}</td>
                        <td>{{combo.layers}}</td>
                        <td>{{combo.thread.brandName}},{{combo.thread.color}},{{combo.thread.type}}</td>
                        <td>{{combo.applique.number}},{{combo.applique.type}},{{combo.applique.color}}</td>
                        <td>{{combo.paper.type}},{{combo.paper.quality}},{{combo.paper.size}}</td>

                    </tr>
                </tbody>
            </table>

        </ba-card>
        <br>

        <div class="smart-table-container text-center">
            <button type="button" class="btn btn-primary mr-2 btn-xm" (click)="back()">Back</button>
            <button type="button" class="btn btn-primary ml-2 btn-xm" (click)="edit()">Edit</button>
        </div>
        <div class="smart-table-container">
            <button type="button" class="btn btn-danger mr-2 btn-xm" (click)="delete()" *ngIf="order.status==statusPending">Delete</button>
            <br>
            <strong>Note: Cannot delete approved or confirmed orders</strong>
        </div>
        <br>

    </div>

</div>

<ng2-slim-loading-bar [height]="'6px'" [color]="'white'"></ng2-slim-loading-bar>