<div class="widgets">
  <div class="row">
    <ba-card cardTitle="Add/Edit/Delete Inward" baCardClass="with-scroll" class="smart-table-container">
      <div class="row">
        <div class="col-lg-4"></div>
        <div class="form-inline col-lg-4 pd-2">
          <label class="mr-sm-2" for="inlineFormCustomSelect">Order Size</label>
          <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect" [(ngModel)]="orderSize">
            <option value="100">100</option>
            <option value="500">500</option>
            <option value="1000">1000</option>
            <option value="2000">2000</option>
            <option value="5000">5000</option>
          </select>
          <button type="button" (click)="orderSizeSubmit($event)" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-lg-4"></div>
      </div>
      <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onSaveConfirm($event)"
        (createConfirm)="onCreateConfirm($event)"></ng2-smart-table>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </ba-card>

  </div>

</div>

<ng2-slim-loading-bar [height]="'6px'" [color]="'white'"></ng2-slim-loading-bar>