<div class="dropdown text-center" *ngIf="rowData.status!=confirmed">
  <button class="btn btn-secondary dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Change Status
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
    <a class="btn btn-xm " href="javascript:void(0)" *ngIf="rowData.status!=pending" (click)="pendingOrder()">Pending</a>
    <!-- <li class="dropdown-divider" *ngIf="rowData.status!=pending"></li> -->
    <a class="btn btn-xm " href="javascript:void(0)" *ngIf="rowData.status!=approve" (click)="approveOrder()">Approve</a>
    <!-- <li class="dropdown-divider" *ngIf="rowData.status!=approve"></li> -->
    <a class="btn btn-xm " href="javascript:void(0)" *ngIf="rowData.status!=reject" (click)="rejectOrder()">Reject</a>
    <!-- <li class="dropdown-divider" *ngIf="rowData.status!=reject"></li> -->
  </div>
</div>

<div *ngIf="rowData.status==confirmed">
  <strong>Order already confirmed</strong>
</div>

