<div class="widgets">
  <ba-card cardTitle="Set Checking Plan" baCardClass="with-scroll" class="smart-table-container">
    <form [formGroup]="planningForm" novalidate (submit)="setCheckingPlanner()">
      <div class="row">
        <div class="col-2">
          <div class="form-group">
            <label>Select Number of Assignments</label>
            <select class="form-control" formControlName="noOfEmployees" (change)="changeInEmployeesCount(noOfEmployees)">
                    <option></option>
                    <option *ngFor="let dummy of dummyArray" [ngValue]="dummy">{{dummy}}</option>
                  </select>
            <small *ngIf="!planningForm.controls.noOfEmployees.valid">
                   <strong>Assignments</strong> field is required.
                </small>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>Shift</label>
            <select formControlName="shift" class="form-control">
              <option>Day</option>
              <option>Night</option>
            </select>
            <small *ngIf="!planningForm.controls.shift.valid">
              <strong>Shift</strong> field is required.
            </small>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>Date</label>
            <input formControlName="planningDate" (Change)="planDateChanged()" ngui-datetime-picker date-format="MM-DD-YYYY hh:mm:ss"
              class="form-control" />
            <small *ngIf="!planningForm.controls.planningDate.valid">
              <strong>Planning Date</strong> field is required.
            </small>
          </div>
        </div>

      </div>
      <div *ngIf="planningForm.get('noOfEmployees').value>0">
        <div formArrayName="employees">
          <div *ngFor="let employee of planningForm.controls.employees.controls; let i=index" [formGroupName]="i">
            <div class="card card-primary">
              <div class="card-header text-white">
                Assign a task for employee {{i+1}}
              </div>
              <div class="card-block">
                <div class="row">
                  <div class="col-2">
                    <label>Select Checker</label>
                    <select formControlName="checker" class="form-control">
                      <option></option>
                      <option *ngFor="let checker of checkerList" [ngValue]="checker">{{checker.name}}</option>
                      
                    </select>
                    <small *ngIf="!planningForm.controls.employees.controls[i].controls.checker.valid">
                        <strong>Checker </strong> is required.
                      </small>
                  </div>
                  <div class="col-2">
                    <label>Select Helper</label>
                    <select formControlName="helper" class="form-control">
                        <option></option>
                        <option *ngFor="let helper of helperList" [ngValue]="helper">{{helper.name}}</option>
                    </select>
                    <small *ngIf="!planningForm.controls.employees.controls[i].controls.helper.valid">
                        <strong>Helper </strong> is required.
                      </small>
                  </div>
                </div>
                <br>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Produced tags</th>
                      <th>Tags to be Checked</th>
                      <th>Total quantity</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td [dragula]='""+[i]' id="produced_{{i}}">
                        <div class="btn btn-info" *ngFor="let tag of tagList">
                          <span><i class="fa fa-tag"></i>{{tag.inward.order.spc}}<br>{{tag.tagId}},Q:{{tag.quantity}}</span>
                          <div id='{{tag.id}}' style="display:none;"></div>
                        </div>
                      </td>
                      <td [dragula]='""+[i]' id="toBeProduced_{{i}}">
                      </td>
                      <td>
                        {{employee.get('assignedQuantity').value}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <input type="checkbox" formControlName="confirmCheckBox" > Do you want to proceed with this plan? The plan cannot be reverted back
      <small *ngIf="!planningForm.controls.confirmCheckBox.valid">
          <strong>Please check the checkbox</strong>
        </small>
        <br>
      <div class="text-center">
        <button class="btn btn-primary btn-xm" type="submit"[disabled]="!planningForm.valid || !planningForm.controls.confirmCheckBox.value" >Submit</button>
      </div>
    </form>
  </ba-card>
</div>

<ng2-slim-loading-bar [height]="'6px'" [color]="'white'"></ng2-slim-loading-bar>