<div class="widgets">
  <ba-card cardTitle="Production Planning" baCardClass="with-scroll" class="smart-table-container ">
    <form [formGroup]="planningForm" novalidate (ngSubmit)="setPlanner(planningForm)">
      <div class="row">
        <div class="col-2">
          <div class="form-group">
            <label>Shift</label>
            <select formControlName="shift" class="form-control">
              <option>Day</option>
              <option>Night</option>
            </select>
            <small *ngIf="!planningForm.controls.shift.valid">
              <strong>Shift</strong> field is required.
            </small>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label>Date</label>
            <input formControlName="planningDate" (Change)="planDateChanged()" ngui-datetime-picker date-format="MM-DD-YYYY hh:mm:ss"
              class="form-control" />
            <small *ngIf="!planningForm.controls.planningDate.valid">
                <strong>Planning Date</strong> field is required.
            </small>
          </div>

        </div>
      </div>
      <div formArrayName="machines">
        <div class="row" *ngFor="let machine of planningForm.controls.machines['controls']; let i=index" [formGroupName]="i">
          <div class="col">
            <div class="card card-primary ">
              <div class="card-header card-inverse text-white">
                <strong class="text-white">Machine # : {{machine.get('idField').value}},</strong>
                <strong class="text-white">Heads: {{machine.get('headsField').value}},</strong>
                <strong class="">Capacity: {{machine.get('stitchCapacityField').value}}</strong>
              </div>
              <div class="card-block">
                <div class="form-group col-3">
                  <label><strong>Choose number of Orders:</strong></label>
                  <select formControlName="noOfOrders" class="form-control" (change)="changeInOrderNumber(i)">
                    <option></option>
                    <option [ngValue]="1">1</option>
                    <option [ngValue]="2">2</option>
                    <option [ngValue]="3">3</option>
                    <option [ngValue]="4">4</option>
                    <option [ngValue]="5">5</option>
                  </select>

                </div>

                <table class="table table-bordered" *ngIf="machine.get('noOfOrders').value>0">
                  <thead class="thead-inverse">
                    <th class="w-8">Select Orders</th>
                    <th class="w-8">Stitches</th>
                    <th class="w-28">Available Tags</th>
                    <th class="w-24">To be Processed(Drag tag and click)</th>
                    <th class="w-8">Quantity</th>
                    <th class="w-8">Operator</th>
                    <th class="w-8">Framer</th>
                    <th class="w-8">In-Charge</th>
                  </thead>
                  <tbody formArrayName="orders">
                    <tr *ngFor="let order of planningForm.controls['machines']['controls'][i].controls.orders.controls; let j=index" [formGroupName]="j">
                      <td>
                        <select formControlName="inwardField" class="form-control" (change)="orderChange(i,j)">
                          <option></option>
                          <option *ngFor="let inward of confirmedOrderInwards" [ngValue]="inward">
                            {{inward.order.spc}} {{inward.order.customer.name}}</option>
                        </select>
                      </td>
                      <td><input type="hidden" formControlName="orderStitchesField" readonly/>{{order.get('orderStitchesField').value}}</td>
                      <td>
                        <div formArrayName="tags" [dragula]='[i]+[j]'>
                          <div class="btn btn-sm btn-info" *ngFor="let tag of planningForm.controls['machines']['controls'][i].controls.orders.controls[j]['controls'].tags.controls; let k=index"
                            [formGroupName]="k">
                            <span id='{{k}}'> 
                                <i class="fa fa-tag"></i> 
                                {{tag.get('fieldTagId').value}}<br> 
                                Q: {{tag.get('fieldQuantity').value}}
                                R: {{tag.get('fieldQuantity').value - tag.get('fieldQuantityCompleted').value}}
                                <input type="hidden" formControlName="tag">
                                
                              </span>
                          </div>
                          <span style ="color:white;">.</span>
                        </div>
                      </td>
                      <td [dragula]='[i]+[j]'>
                        <!-- <span style ="color:white;">.</span> -->
                      </td>
                      <td>{{order.get('tagsClothesQuantity').value}}
                        <small *ngIf="!order.get('tagsClothesQuantity').valid">
                        <strong>Quantity</strong> field is required.Please click on tag after dragging.
                          </small>
                      </td>
                      <td>
                        <select formControlName="operatorField" class="form-control">
                          <option></option>
                          <option *ngFor="let employee of operatorsList" [ngValue] = "employee">{{employee.name}}</option>
                        </select>

                        <small *ngIf="order.get('operatorField').value == ''">
                          <strong>Operator</strong> field is required.
                            </small>
                      </td>
                      <td>
                        <select formControlName="framerField" class="form-control">
                          <option></option>
                          <option *ngFor="let employee of framersList" [ngValue] = "employee">{{employee.name}}</option>
                        </select>

                        <small *ngIf="order.get('framerField').value == ''">
                          <strong>Framer</strong> field is required.
                            </small>
                      </td>
                      <td>
                        <select formControlName="inchargeField" class="form-control">
                          <option></option>
                          <option *ngFor="let employee of inchargersList" [ngValue] = "employee">{{employee.name}}</option>
                        </select>

                        <small *ngIf="order.get('inchargeField').value == ''">
                          <strong>In charge</strong> field is required.
                            </small>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>

      <br>
      <div class="text-center">
        <button type="submit" class="btn btn-primary btn-lg" [disabled]="!planningForm.valid">Submit</button>
      </div>

    </form>
  </ba-card>
</div>