<div class="dropdown text-center" *ngIf="rowData.order.status==approved">
  <button class="btn btn-secondary dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">
    Change Status
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="btn btn-xm " href="javascript:void(0)" (click)="confirmOrder()">Confirm Order</a>
  </div>
</div>

<div class="dropdown text-center" *ngIf="rowData.order.status!=approved">
  <strong>{{rowData.order.status}}</strong>
</div>